.media-modal-body {
    padding: 0;
    height : 500px;
    border: none;
}


.rv-media-breadcrumb {
    .breadcrumb {
        li:first-child {
            &:before {
                display : none !important;
            }
        }
    }
}

.rv-media-container {
    .rv-media-wrapper .rv-media-main-wrapper {
        background : #ffffff;
    }
    height: calc(100vh - 140px);
    #modal_add_folder {
        .modal-body {
            padding : 15px;
        }
    }
}


@media (max-width: 991px) {
    .rv-media-container {
        .rv-media-aside {
            z-index: 10000;
            .collapse-sidebar {
                line-height : 41px;
            }
        }
    }
}

#rv_media_modal {
    z-index: 99999 !important;
    .modal-dialog {
        background : #ffffff;
    }
}