@import "media";
.page-header.navbar .page-logo{
    overflow: hidden;
}
.page-header.navbar .page-logo .logo-default {
    margin: 11px 0 0 0;
    max-width: 100%;
}

/* ==========================================================================
Admin upload image box
========================================================================== */
.image-box {
    max-width: 100%;
}

.image-box .image-box-actions a {
    text-decoration: underline;
}

.image-box img.preview_image {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: top;
    background-image: -webkit-linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4),-webkit-linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4);
    background-image: linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4),linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4);
    background-position: 0 0,10px 10px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}
.rvMedia_preview_file{
    cursor: pointer;
}

/* ==========================================================================
Admin News module
========================================================================== */
.categories-group {
    width: 100%;
}
.categories-group .icheck-list {
    height: 200px;
    overflow-y: scroll;
}

.categories-create-new, .tags-create-new {
    margin-top: 10px;
}

.admin-detail-show-html {
    padding: 20px;
}

.admin-detail-show-html img {
    width: 70%;
}

.gallery-images ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.gallery-images ul li {
    width: 80px;
    height: 80px;
    background: #f7f7f7;
    border-radius: 2px;
    float: left;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    padding: 0.5em;
}
.gallery-images ul li img {
    width: 100%;
    height: auto;
    display: block;
}
.gallery-images ul li a {
    position: absolute;
    top: 1px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
    opacity: .2;
    font-size: 1.2em;
    line-height: 10px;
    height: 1em;
    width: 1em;
    display: block;
}
.gallery-images ul li a:hover {
    opacity: 1;
}

.custom-select2-container .js-related-news-container ul {
    list-style: none;
    padding: 0;
}

.custom-select2-container .js-related-news-container .tag-selected {
    list-style: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 5px;
}

.custom-select2-container .js-related-news-container .destroy-tag-selected {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    margin-right: 6px;
    margin-left: -7px;
    &:hover {
        text-decoration: none;
        color: #a94442;
    }
}

.custom-select2-container .select2-selection__choice {
    display: none !important;
}

.news-detail-related-news ul {
    padding: 0;
    list-style-type: none;
}
.news-detail-page.gallery-images ul {
    padding: 0;
    list-style-type: none;
}
.news-detail-page.gallery-images ul li {
    margin-left: 0px;
    margin-right: 10px;
}

/* ==========================================================================
Custom plugin CSS
========================================================================== */
.dataTables_wrapper .dataTables_processing {
    border: none !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.dataTables_wrapper table.dataTable .td-text-left{
    text-align: left;
    padding-left: 10px;
}

.btn-filter-cancel {
    color: #337ab7 !important;
    font-weight: normal !important;
}


.page-content {
    background-color: #f5f5f5 !important;
}

.page-content .content form .col-md-10+.col-md-2 {
    padding-left:10px;
}

/* Custom style of group action buttons */
table .btn:not(.btn-sm):not(.btn-lg) {
    line-height:1;
    padding: 5px 8px;
}

.page-content .page-bar .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin:-2px 0 0 0;
}

.label-required:after {
    content: ' *';
    color: red;
}

.control-label {
    font-size: 13px;
}

.list-files {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
}

.btn-upload-icon {
    font-size: 40px;
    color: #d6d6d6;
    &:hover {
        color: #bbbaba;
    }
}

.horizontal-control-label {
    margin-bottom: 5px !important;
}

.publish-group {
    .input-group-btn {
        .btn {
            width: 34px;
            text-align: center;
            padding: 6px 0;
        }
    }
}
.help-block {
    font-size: 12px;
}
.has-error .form-control,
.has-error .select2-container--focus .select2-selection, .has-error .select2-container--open .select2-selection,
.has-error .select2-dropdown, .has-error .select2-selection {
    border-color: #a94442;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}
.label-required:after {
    color: #a94442;
}
table th.text-center:last-child {
    vertical-align: middle;
    padding-top: 10px;
}
.wysihtml5-toolbar .add-media-to-textbox{
    float: none;
}
table.fomo-show-author-tbl tr:first-child td, table.fomo-show-author-tbl tr:first-child th {
    border:0;
}

/* ==========================================================================
Summernote dialog CSS
========================================================================== */
.note-editor .modal-body .form-group {
    margin:0;
}
.note-editor .modal-body .checkbox {
    margin-top: 10px;
    margin-left: 20px;
}
.note-popover {
    z-index: 10051 !important;
}

#fomo-modal-update-profile .select2-selection--single{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/* spiner */
.spinner-loading {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 140px;
    height: 140px;
    background-size: 140px 140px;
    z-index: 9999;
}
.spinner-loading:before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
}

/*datatable*/
#filter-navigation .btn-group .action-filter.active{
    color: #333;
}
#filter-navigation .btn-group .action-filter.active:hover{
    text-decoration: none;
}

.link-marked-text {
  float: right;
  margin-bottom: 5px;
}

.fomo-custom-link {
    color: #00A900;
    text-decoration: underline;
}

.fomo-custom-link:hover {
    color: #008000;
}

/* ==========================================================================
Admin: app dashboard layout
========================================================================== */
.box-item-layout-section {
    background-color: #e9eff3;
}

.box-item-layout-section .tools a.expand, .box-item-layout-section .tools a.collapse {
    border-radius: 50% !important;
    width: 20px !important;
    height: 20px;
    background-size: 15px 15px;
    background: #a09696 no-repeat center;
}

.box-item-layout-section .actions {
    padding: 6px 0 !important;
    margin-right: 5px;
    font-size: 1.6em;
}

#app-layout-dashboard-portlet-body .frm-section {
    cursor: pointer;
}

#app-layout-dashboard-portlet-body input[type="number"],
#app-layout-new-action-wrapper input[type="number"],
#app-layout-dashboard-portlet-body input[type="text"],
#app-layout-new-action-wrapper input[type="text"] {
    padding-left: 16px;
}

#app-layout-new-action-wrapper .portlet.light>.portlet-title>.caption {
    color: #666 !important;
}
#app-layout-dashboard-wrapper .select-data-type-value span.select2-container--disabled .select2-selection.select2-selection--multiple,
#app-layout-new-action-wrapper .select-data-type-value span.select2-container--disabled .select2-selection.select2-selection--multiple{
    display: none;
}

.page-content .page-bar .page-breadcrumb li {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -5px;
    max-width: 500px;
}

#tab_ci .padding-bottom-tab{
    padding: 20px 0;
}
.page-admin-setting .image-box{
    width: 150px;
    height: 150px;
    background: #f5f5f5;
    display: table-cell;
    vertical-align: middle;
}
.page-admin-setting .image-box > img{
    margin: auto;
}
.page-admin-setting .image-box .image-box-actions{
    position: absolute;
    top: 160px;
}
#tab_ci .image-box img.preview_image{
    max-height: 150px;
}
.table.table-striped thead tr.filter input {
    width: 98%;
    margin: auto;
}

.anchor-disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}

/* author sorting */
#fomo-modal-update-sorting .nestable .dd-heading,
#fomo-update-sorting .nestable .dd-heading{
    border-bottom: 1px solid #ccc;
    height: 30px;
    margin-bottom: 10px;
}
#fomo-modal-update-sorting .nestable .dd-handle,
#fomo-update-sorting .nestable .dd-handle,
.dd-list.dd-dragel .dd-handle,
#fomo-update-post-setting-display .nestable .dd-handle {
    height: 50px;
}
#fomo-modal-update-sorting .nestable .tb-fomo-nestable,
#fomo-update-sorting .nestable .tb-fomo-nestable,
.dd-list.dd-dragel .tb-fomo-nestable{
    width: 100%;
}
#fomo-modal-update-sorting .nestable .tb-fomo-nestable .st-col-left,
#fomo-update-sorting .nestable .tb-fomo-nestable .st-col-left,
.dd-list.dd-dragel .tb-fomo-nestable .st-col-left,
#fomo-update-post-setting-display .nestable .tb-fomo-nestable .st-col-left{
    float: left;
}
#fomo-modal-update-sorting .nestable .item-heading .st-col,
#fomo-update-sorting .nestable .item-heading .st-col{
    width: 25%;
    vertical-align: middle;
    font-weight: bold;
}
#fomo-modal-update-sorting .nestable .dd-item > button,
#fomo-update-sorting .nestable .dd-item > button {
     margin: 16px 0;
}
#fomo-modal-update-sorting .nestable .dd-item .st-col,
#fomo-update-sorting .nestable .dd-item .st-col,
.dd-list.dd-dragel .dd-item .st-col {
    width: 25%;
    font-size: 14px;
    margin-top: 10px;
}
#fomo-modal-update-sorting .nestable .dd-item button ~ .dd-handle .tb-fomo-nestable,
#fomo-update-sorting .nestable .dd-item button ~ .dd-handle .tb-fomo-nestable ,
.dd-list.dd-dragel .dd-item .dd-handle .tb-fomo-nestable {
    position: absolute;
    left: 25px;
    width: calc ( 100% - 25);
}
#fomo-modal-update-sorting .nestable .item-heading button,
#fomo-update-sorting .nestable .item-heading button {
   display: none;
}
.input-checkbox {
    display: inline-block;
    margin-left: 15px;
}

.top-news-checkbox {
    margin-left: 0px;
}

@font-face {
  font-family: Helvetica;
  src: url("../../fonts/Helvetica.otf") format("opentype");
}
#fomo-font-example.arial label {
    font-family: "Arial", sans-serif;
}
#fomo-font-example.arial-hebrew label {
    font-family: "Arial Hebr", sans-serif;
}
#fomo-font-example.arialhebrew-bold label {
    font-family: "Arial Hebr", sans-serif;
    font-weight: bold;
}
#fomo-font-example.arialhebrew-light label {
    font-family: "Arial Hebr", sans-serif;
    font-weight: 300;
}
#fomo-font-example.courier label {
    font-family: "Courier", sans-serif;
}
#fomo-font-example.courier-bold label {
    font-family: "Courier", sans-serif;
    font-weight: bold;
}
#fomo-font-example.helvetica label {
    font-family: "Helvetica", sans-serif;
}
#fomo-font-example.open-sans label {
    font-family: "Open Sans", sans-serif;
}
#fomo-font-example.roboto label {
    font-family: "Roboto", sans-serif;
}
#fomo-font-example.times-new-roman label {
    font-family: "Times New Roman", sans-serif;
}
#fomo-font-example.titilium label {
    font-family: "Titillium Web", sans-serif;
}
#fomo-font-example.work-sans label {
    font-family: "Work Sans", sans-serif;
}

#fomo-update-post-setting-display .nestable .dd-item .st-col {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

#fomo-update-post-setting-display .post-item-config {
    height: 40px;
    padding-top: 15px;
}

#fomo-update-post-setting-display .post-item-config .input-checkbox{
    float: right;
    margin-right: 10px;
}

#fomo-update-post-setting-display .post-item-config .control-label{
    font-size: 14px;
}

#fomo-update-post-setting-display .fomo-post-sorting-list .dd-item.disabled .dd-handle{
    background-color: #d5d5d5;
}


.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-tags .blog-post-tags>li>a {
    padding: 2px 7px !important;
}

.email-settings-checkbox {
    top: 10px;
}

@media (min-width: 768px) {
    .email-settings-label {
        padding-top: 0px !important;
    }
}

.dd-list.dd-dragel {
    z-index: 10061;
}

.portlet-fullscreen #fomo-update-sorting{
    margin-bottom: 30px;
}

#fomo-update-post-setting-display .nestable .dd-handle.dd3-handle {
    height: 30px;
}

.dd-list.dd-dragel .dd3-item .dd3-handle {
    height: 30px;
}